header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
    width: 100%;
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    font: 14px ginto, helvetica, arial, sans-serif;
    font-weight: 700;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}
.menu-header{
    display: flex;
    align-items: center;
    gap: 20px;
    padding-right: 70px;
}
.menu-header a {
    margin: 0 15px;
    text-decoration: none;
    color: #1679C4;
    font-weight: bold;
}
.menu-header button {
    padding: 8px 16px;
    background-color: #1679C4;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    padding: 15px;
    width: 100px;
    font: 14px ginto, helvetica, arial, sans-serif;
    font-weight: 700;
}
.logo-header img{
    width: 250px;
    height: auto;
}
.logo-header {
    padding-left: 40px;
}
.nav-header {
    border-right: 1px solid #ccc;
}
.menu-header a:hover {
    color: #0d47a1;
    border-bottom: 1px solid #0d47a1;
}
.menu-header button:hover {
    background-color: #0d47a1;
}
.nav-auth i{
    margin-left: 20px;
    font-size: 20px;
    color: #1679C4;
    cursor: pointer;
}
.nav-auth i:hover{
    color: #0d47a1;
}
main{
    margin-top: 94px;
}
.main-banner-text{
    background-image: url('./Picture/main-banner.png');
    background-size: cover;
    background-position: center;
    height: 1120px;
}
.banner-text{
    padding-top: 8px;
    width: 50%;
    margin-left: 50px;
}
.banner-text h1{
    font-family: GT Super Display, Times New Roman, "serif";
    font-size: 4.5rem;
    line-height: 5rem;
    color: #0578FF;
}
.banner-text button{
    margin-top: 20px;
    padding: 15px 30px;
    background-color: #1679C4;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font: 14px ginto, helvetica, arial, sans-serif;
    font-weight: 700;
}
.banner-text button:hover{
    background-color: #0d47a1;
}
.banner-text p{
    font-family: ginto, helvetica, arial, sans-serif;
}
.banner-text a{
    text-decoration: none;
    color: #0578FF;
}
.page-hero-three-col-preview{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 6.5vw 66px;
    gap: 20px;
    margin-top: 100px;
}
.page-hero-three-col-preview img{
    width: 345px;
    height: 220px;
    border-radius: 10px;
}
.page-hero-three-col-preview .col h6{
    font-family: GT Super Text, Helvetica, Arial, sans-serif;
    font-size: 1.0rem;
    color: #0578FF;
    margin-top: 15px;
}
.page-hero-three-col-preview .col h3{
    font-family: GT Super Display, Times New Roman, "serif";
    font-size: 1.8rem;
    color: #0d47a1;
    margin-top: 5px;
}
.page-hero-three-col-preview .col p{
    font-family: ginto, helvetica, arial, sans-serif;
    font-size: 1.0rem;
    color: #0d47a1;
    margin-top: 10px;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 400;
}
.img-wrap img {
    width: 345px;
    height: 220px;
    transition: transform 0.35s ease;
    object-fit: cover;
}
.img-wrap {
    overflow: hidden;
    border-radius: 10px;
}
.col:hover .img-wrap img {
    transform: scale(1.05);
}
.col:hover h3 {
    color: #1679C4;
}
.col:hover p {
    color: #1679C4;
    transform: translateX(5px);
    transition: transform 0.35s ease;
}
.main-banner-doctor-love h1{
    font-family: GT Super Display, Times New Roman, "serif";
    font-size: 4.5rem;
    line-height: 5rem;
    color: #0578FF;
}
.main-banner-doctor-love{
    text-align: center;
    padding-top: 40px;
}
.main-banner-doctor-love p{
    font-family: ginto, helvetica, arial, sans-serif;
    font-size: 1.2rem;
    color: #0d47a1;
    margin-top: 20px;
}
.main-banner-doctor-love h6{
    color: #0578FF;
    cursor: pointer;
    font: 14px ginto, helvetica, arial, sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
    margin-top: 20px;
    gap: 5px;
}
.main-banner-doctor-love h6:hover{
    color: #1679C4;
    transform: translateX(5px);
    transition: transform 0.35s ease;
}
.services-section{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 90%;
    margin: auto;
}
.services-detail{
    display: flex;
    justify-content: space-around;
}
.services-section img{
    width: 150px;
    height: 120px;
    cursor: pointer;
}
.services-detail-row p{
    color: #1679C4;
    font: 14px ginto, helvetica, arial, sans-serif;
}
.services-detail-row{
    text-align: center;
}
.services-detail-row:hover p {
    color: #1679C4;
    transform: translateX(5px);
    transition: transform 0.35s ease;
}
footer{
    background: linear-gradient(to bottom, #1b85ff6e 0%, #1679C4 50%);
    color: white;
    width: 100%;
    padding-bottom: 40px;
}
.footer-sign-up{
    text-align: center;
    padding: 40px 20px;
}
.footer-sign-up h1{
    font-family: GT Super Display, Times New Roman, "serif";
    font-size: 3.5rem;
    line-height: 4rem;
    color: white;
}
.footer-sign-up button{
    margin-top: 12px;
    padding: 15px 30px;
    background-color: white;
    color: #1679C4;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font: 14px ginto, helvetica, arial, sans-serif;
    font-weight: 700;
    width: 200px;
}
.footer-sign-up a{
    text-decoration: none;
    color: #1679C4;
}
.footer-about-us{
    width: 95%;
    margin: auto;
    display: flex;
    padding-top: 30px;
}
.social-media-icons {
    display: flex;
    gap: 15px;
}
.about-us-content-left{
    width: 50%;
}
.about-us-content-right{
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-left: 300px;
}
.footer-links-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer-links-column h4 {
    font-size: 1.2rem;
    color: white;
    margin-bottom: 10px;
}
.footer-links-column a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.795);
    font-size: 1.0rem;
}
.footer-links-column a:hover {
    color: white;
}
.main-content{
    padding-bottom: 40px;
}
